.custom-navbar{

    background:linear-gradient(90deg,#0D6EFD,#084298);

    padding:12px 0;

}

.navbar-brand{

    font-weight:700;

    font-size:24px;

    letter-spacing:.5px;
    

}

.nav-link{

    color:white !important;

    border-radius:8px;

    padding:8px 15px !important;

    transition:.3s;

    margin-right:5px;

}

.nav-link:hover{

    background:rgba(255,255,255,.15);

}

.nav-link.active{

    background:white;

    color:#0D6EFD !important;

    font-weight:600;

}

.navbar .btn{

    border-radius:25px;

}

.badge{

    font-size:12px;

}

.navbar{

    box-shadow:0 4px 15px rgb(0, 0, 0);

}